<nav class="site-navigation navbar navbar-expand-lg justify-content-between">
   <ul class="list-inline list-unstyled mg-r-20 toggle-navigation">
      <!-- Toggle Navigation Start -->
      <li class="list-inline-item align-text-top">
         <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#toggleNavigation" role="button"
            aria-controls="toggleNavigation">
            <i class="fas fa-bars"></i>
         </a>
      </li>
   </ul>
   <!--/ Toggle Navigation End -->
   <!-- Header Right Start -->
   <!--================================-->
   <div class="header-right d-flex">
      <ul class="list-inline justify-content-end d-flex align-items-center justify-content-center header-right-menu">
         <li class="list-inline-item align-middle search">
            <a class="btn btn-primary" id="search-button" data-bs-toggle="offcanvas" href="#offcanvasTop" role="button" aria-controls="offcanvasTopLabel">
               <span class="fas fa-search"></span>
            </a>
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
               <div class="offcanvas-header">
                 <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="fa fa-close"></i>
                 </button>
               </div>
               <div class="offcanvas-body">
                  <div class="search-form">
                     <form  method="GET">
                        <div class="input-group">
                           <input class="form-control search-input" name="search" placeholder="Search" type="text">
                           <span class="input-group-btn">
                           <i class="fas fa-search"></i>
                           </span>
                        </div>
                     </form>
                  </div>
               </div>
             </div>
        
         </li>
         <!--================================-->
         <!-- Languages Dropdown Start -->
         <!--================================-->
         <li class="list-inline-item align-middle dropdown language">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <span class="fi fi-gb fis"></span>
            </a>
            <ul class="dropdown-menu languages-dropdown shadow-2">
               <li>
                  <a href="" data-lang="en"><i class="fi fi-gb fis mr-2"></i><span>English-UK</span></a>
               </li>
               <li>
                  <a href="" data-lang="es"><i class="fi fi-us fis mr-2"></i><span>English-US</span></a>
               </li>
               <li>
                  <a href="" data-lang="es"><i class="fi fi-in fis mr-2"></i><span>English-IN</span></a>
               </li>
               <li>
                  <a href="" data-lang="fr"><i class="fi fi-fr fis mr-2"></i><span>French</span></a>
               </li>
               <li>
                  <a href="" data-lang="gr"><i class="fi fi-de fis mr-2"></i><span>German</span></a>
               </li>
               <li>
                  <a href="" data-lang="ru"><i class="fi fi-ru fis mr-2"></i><span>Russian</span></a>
               </li>
               <li>
                  <a href="" data-lang="ru"><i class="fi fi-es fis mr-2"></i><span>Spanish</span></a>
               </li>
            </ul>
         </li>
         <!--/ Languages Dropdown End -->
             <!--================================-->
         <!-- Notifications Dropdown Start -->
         <!--================================-->
         <li class="list-inline-item align middle dropdown notifications">
            <a class="notification-icon" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <i class="far fa-bell"></i>
               <span class="notification-count wave in"></span>
            </a>
            <!-- Notifications icon -->
            <div class="dropdown-menu dropdown-menu-right shadow-2 notifications-dropdown">
                  <div class="top-notifications-area">
                      <!--Heading Start -->
                        <div class="notifications-heading">
                            <h6>Notifications</h6>
                            <span class="count">5+ New Notifications</span>
                        </div>
                      <!--/ Heading End -->
                      <!-- Content Start -->
                       <div class="notifications-content notifications-box" id="notificationsBox">
                           <ul class="notifications-list">
                               {{#each notifications.entries}}
                                  <li class="single-notification-item">
                                     <a href="javascript:void(0);" class="single-notification-link">
                                        <div class="notification-icon-type">
                                           <i class="{{icon}}"></i>
                                        </div>
                                        <!-- icon -->
                                        <div class="notification-content-type">
                                            <div class="notification-content-heading">
                                               <h6>{{title}}</h6>
                                               <span>{{date}}</span>
                                            </div>
                                            <!-- heading -->
                                            <div class="notification-content-shortdesc">
                                               <p>{{description}}</p>
                                            </div>
                                            <!-- description -->
                                        </div>
                                        <!-- content -->
                                     </a>
                                  </li>
                               {{/each}}
                           </ul>
                           <!-- Notifications List -->
                       </div>
                      <!-- / Contet End -->
                      <!-- Notification Footer Start-->
                      <div class="notifications-footer">
                         <a href="#">View All Notifications</a>
                      </div>
                      <!--/ Notification Footer End -->
                  </div>
               </div>
         </li>
         <!--/ Notifications Dropdown End -->
         <!--================================-->

         <!-- Profile Dropdown Start -->
         <!--================================-->
         <li class="list-inline-item dropdown profile-dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
               <img src="assets/images/avatar/avatar1.png" class="img-fluid wd-35 ht-35 rounded-circle"
                  alt="user profile">
               <span class="select-profile">Welcome John!</span>

            </a>
            <div class="dropdown-menu  dropdown-profile shadow-2">
               <div class="user-profile-area">
                  <div class="user-profile-heading">
                     <div class="profile-thumbnail">
                        <img src="assets/images/avatar/avatar1.png" class="img-fluid wd-35 ht-35 rounded-circle" alt="">
                     </div>
                     <div class="profile-text">
                        <h6>John Deo</h6>
                        <span>email@example.com</span>
                     </div>
                  </div>
                  <div class="user-profile-options">
                     <ul class="nav profile-lists">
                        <li class="nav-item profile-single-list">
                           <a href="" class="dropdown-item">
                              <span> <i class="fas fa-user" aria-hidden="true"></i> My profile</span>
                           </a>
                        </li>
                        <li class="nav-item profile-single-list">
                           <a href="" class="dropdown-item">
                              <span><i class="fas fa-envelope" aria-hidden="true"></i>Messages</span>
                              <span class="badge badge-success ft-right mg-t-3">10+</span></a>

                        </li>
                        <li class="nav-item profile-single-list">
                           <a href="" class="dropdown-item">
                              <span><i class="fas fa-gear" aria-hidden="true"></i>settings</span>

                           </a>
                        </li>
                        <li class="nav-item profile-single-list"><a href="page-singin.html" class="dropdown-item">
                              <span><i class="fas fa-sign-out" aria-hidden="true"></i>SignOut</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </li>
         <!-- Profile Dropdown End -->
         <!--================================-->
      </ul>
   </div>
   <!--/ Header Right End -->
</nav>