:root {
    --bs-border-color: #dfdfdf;
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;
  
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #5d78ff;;
    --fc-button-border-color: #5d78ff;
    --fc-button-hover-bg-color: #526df6;  
    --fc-button-hover-border-color:#526df6;
    --fc-button-active-bg-color: #5d78ff;
    --fc-button-active-border-color:#5d78ff;
  
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
  
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
  
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
  }
  
[data-bs-theme=light]{
    --bs-border-color: #dfdfdf;
}
[data-bs-theme=dark]{}

.offcanvas{
    --bs-offcanvas-width: 240px;
}
.btn-close{
    --bs-btn-close-bg:none;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5d78ff;
    --bs-btn-border-color: #5d78ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c80e1;
    --bs-btn-hover-border-color: #6c80e1;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c80e1;
    --bs-btn-active-border-color: #6c80e1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dfdfdf;
    --bs-btn-disabled-border-color: #dfdfdf;
}
.btn {
    --bs-btn-font-size: 1rem;
    --bs-btn-line-height: 1.2;
}

.dropdown-menu {
    --bs-dropdown-font-size: 1rem;
}