<!-- Heading with Breadcrumb -->
<div class="pageheader d-flex justify-content-between align-items-center pd-t-25 pd-b-35">
   <div class="pageheader-left">
      <div class="pd-t-5 pd-b-5">
         <h1 class="pd-0 mg-0 tx-20">Welcome to Home Analytics !</h1>
      </div>
      <!-- <div class="breadcrumb pd-0 mg-0">
          <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>
          <span class="breadcrumb-item active"><i class="icon ion-ios-home-outline"></i> Home</span>
       </div> -->
   </div>
   <div class="pageheader-right dropdown">
      <button class="btn btn-primary dropdown-toggle reports-dropdown" type="button" data-bs-toggle="dropdown"
         aria-expanded="false">
         Download Reports
      </button>
      <ul class="dropdown-menu report-download-menu">
         <li><a class="dropdown-item" href="#">Download CSV Format</a></li>
         <li><a class="dropdown-item" href="#">Download PDF Format</a></li>
      </ul>
   </div>
</div>
<!-- Heading with Breadcrumb end -->
<!-- Metrics Chart Start -->
<div class="metrics-chart wrapper">
   <div class="row row-xs clearfix">
      <div class="col-lg-12 col-xl-12 col-12">
         <div class="card mg-b-20">
            <div class="card-header">
               <h4 class="card-header-title">
                  User Engagement
               </h4>
               <div class="card-header-btn">
                  <a href="#" data-bs-toggle="collapse" class="btn card-collapse" data-bs-target="#audienceMetrics"
                     aria-expanded="true"><i class="fas fa-arrow-down"></i></a>
               </div>
            </div>
            <div class="collapse show" id="audienceMetrics">
               <div class="card-body pd-t-0 pd-b-20 audienceMetrics-card">
                  <div class="row row-xs clearfix">
                     {{#each audienceMetrics.entries}}
                     <div
                        class="col-lg-4 col-md-4 col-sm-12 pd-y-15 d-flex align-items-center justify-content-center single-metrics">
                        <div class="metrics-icon-type">
                           <span><i class="{{metricsIconType}}"></i></span>
                        </div>
                        <div class="single-metrics-info">
                           <span class="tx-uppercase tx-10 mg-b-10 top-title">{{title}}</span>
                           <h3 class="tx-20 tx-sm-18 tx-md-24 mg-b-0 tx-normal tx-rubik tx-dark counter"><span
                                 class="counter">{{count}}</span></h3>
                           <div class="tx-11 d-flex tx-gray-500 percentage"><span
                                 class="{{#if isPositivePercentage}}text-success{{else}}text-danger{{/if}} mr-2 d-flex align-items-center"><i
                                    class="{{icon}}"></i>{{percentage}}</span> {{description}}
                           </div>
                        </div>
                     </div>
                     {{/each}}
                  </div>
                  <div class="d-block clearfix">
                     <div id="audienceOverviewBar" style="height: 300px"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Audience Metrics -->
   </div>
   <div class="row clearfix">
      <div class="col-sm-12 col-md-6 col-lg-6">
         <div class="card mg-b-20">
            <div class="card-header">
               <h4 class="card-header-title">
                  Sessions By Channel
               </h4>
               <div class="card-header-btn">
                  <a href="" data-bs-toggle="collapse" class="btn card-collapse" data-bs-target="#sessionsChannel"
                     aria-expanded="true"><i class="fas fa-arrow-down"></i></a>
               </div>
            </div>
            <div class="card-body collapse show" id="sessionsChannel">
               <div class="clearfix">
                  <div id="sessionsDeviceDonut" style="height: 220px"></div>
               </div>
               <div class="sessions-metrics">
                  <div class="row">
                     {{#each channelsMetrics.entries}}
                     <div class="col-sm-12 col-md-6 col-lg-3  mg-t-40">
                        <div class="single-session-metrics">
                           <div class="d-flex justify-content-between">
                              <span class="tx-uppercase tx-10 mg-b-0 tx-gray-500 title">{{title}}</span>
                           </div>
                           <div class="d-flex align-items-end justify-content-between mg-b-5">
                              <h5 class="mg-b-0 tx-dark tx-rubik tx-normal"><span class="counter">{{counter}}</span>
                              </h5>
      
                           </div>
                        </div>
                     </div>
                     {{/each}}
                     <!-- 1 -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
         <div class="card mg-b-20">
            <div class="card-header">
               <h4 class="card-header-title">
                  Visitors By Devices
               </h4>
               <div class="card-header-btn">
                  <a href="" data-bs-toggle="collapse" class="btn card-collapse" data-bs-target="#visitorsDevices"
                     aria-expanded="true"><i class="fas fa-arrow-down"></i></a>
               </div>
            </div>
            <div class="card-body pd-0 collapse show visitor-devices" id="visitorsDevices">
   
               <div class="clearfix">
                  <div id="visitorsByDevices"></div>
               </div>
               <div class="visitor-devices-stats">
                  <div class="row no-gutters mg-x-15">
                     {{#each deviceUsage.devices}}
                     <div class="col-md-4 pd-t-10">
                        <div class="media mg-t-20 single-device-stats">
                           <span class="tx-uppercase tx-10 tx-gray-500 title">{{type}}</span>
                           <h5 class="mg-b-0 tx-dark tx-rubik tx-normal"><span class="counter">{{count}}</span>
                           </h5>
                        </div>
                     </div>
                     {{/each}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Metrics chart End -->
<!-- stats start -->
<div class="stats-chart-wrapper">
   <div class="row row-xs clearfix">
      <!--================================-->
      <!-- Social Traffic Start -->
      <!--================================-->
      <div class="col-sm-12 col-xl-4">
         <div class="card mg-b-20">
            <div class="card-header">
               <h4 class="card-header-title">
                  Social Traffic
               </h4>
               <div class="card-header-btn">
                  <a href="" data-bs-toggle="collapse" class="btn card-collapse" data-bs-target="#socialTraffic"
                     aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
               </div>
            </div>
            <div class="card-body pd-0 collapse show social-traffic" id="socialTraffic">
               <div class="table-responsive">
                  <table class="table table-hover my-0">
                     <thead class="tx-10 tx-uppercase">
                        <tr>
                           <th>Referral</th>
                           <th class="text-right">Visitors</th>
                           <th class="text-right d-none d-md-table-cell w-50">Percentage (%)</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{#each socialDataInfo.socialTraffic}}
                        <tr>
                           <td>
                              <a href="" class="tx-facebook"><i class="{{iconClass}}"></i> {{name}}</a>
                           </td>
                           <td class="text-right">
                              {{value}}
                           </td>
                           <td class="d-none d-md-table-cell align-middle">
                              <div class="progress ht-3 mg-b-0 op-5">
                                 <div class="progress-bar {{colorClass}} wd-85p" role="progressbar" aria-valuenow="{{width}}"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                           </td>
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <!--/ Social Traffic End -->
      <!--================================-->
      <!--  Start -->
      <!--================================-->
      <div class="col-sm-12 col-xl-8">
         <div class="card mg-b-20 browser-by-users-card">
            <div class="card-header">
               <h4 class="card-header-title">
                  Traffic Sources
               </h4>
               <div class="card-header-btn">
                  <a href="" data-bs-toggle="collapse" class="btn card-collapse" data-bs-target="#trafficSources"
                     aria-expanded="true"><i class="fas fa-arrow-down"></i></a>
               </div>
            </div>
            <div class="card-body pd-0 collapse show traffic-sources" id="trafficSources">
               <div class="table-responsive">
                  <table class="table table-hover my-0">
                     <thead class="tx-10 tx-uppercase">
                        <tr>
                           <th>Source</th>
                           <th class="text-right">Users</th>
                           <th class="text-right">Sessions</th>
                           <th class="text-right">Bounce Rate</th>
                           <th class="text-right">Avg. Duration</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{#each socialDataInfo.adCampaigns}}
                        <tr>
                           <td><a href="">{{name}}</a></td>
                           <td class="text-right">{{clicks}}</td>
                           <td class="text-right">{{conversions}}</td>
                           <td class="text-right">{{conversionRate}}<small>(<i class="{{conversionRateChange.arrowClass}}"></i>
                                 {{conversionRateChange.changePercentage}}</small>)</td>
                           <td class="text-right">{{averageDuration}}</td>
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <!--/  End -->
   </div>
</div>
<!-- stats end -->
<!-- Behavior and conversions Start -->
<div class="charts-wrapper">
   <div class="row row-xs clearfix">
      <div class="col-xl-6">
         <div class="card mg-b-20 website-interaction-metrics single-charts-wrapper">
            <div class="card-body">
                <div class="charts-wrapper-heading">
                  <h6 class="tx-dark tx-uppercase mg-b-10 tx-16 tx-semibold tx-spacing-1">Website
                     Interaction Metrics</h6>
                  <p class="tx-12 mb-2 tx-gray-600">Track user behavior and engagement to gain valuable
                     insights for improving your website. <a href="#">Learn More</a></p>
                </div>
               <div class="row">
                  {{#each commonMetrics.metrics1}}
                  <div class="col-sm-4 d-sm-flex align-items-center">
                     <div class="media single-user-metrics d-flex align-items-center">
                        <div
                           class="icon wd-45 wd-md-50 ht-45 ht-md-50 card-icon-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                           <i class="{{icon}} tx-primary tx-20"></i>
                        </div>
                        <div class="stats">
                           <span class="tx-uppercase tx-10 tx-gray-500">{{title}}</span>
                           <h4 class="tx-dark tx-20 mg-b-0 tx-rubik tx-normal"><span class="counter">{{value}}</span></h4>
                        </div>
                     </div>
                  </div>
                  {{/each}}
                  <div class="col-12">
                     <div class="clearfix">
                        <div id="behaviorAreaChart"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-6">
         <div class="card mg-b-20 conversion-success single-charts-wrapper">
            <div class="card-body">
               <div class="charts-wrapper-heading">
                  <h6 class="tx-dark tx-uppercase mg-b-10 tx-16 tx-semibold tx-spacing-1">Conversion Success
                  </h6>
                  <p class="tx-12 mb-2 tx-gray-600">Measure the effectiveness of your website in achieving
                     desired actions, such as purchases, form submissions, or sign-ups. <a href="#">Learn
                        More</a></p>
               </div>
            
               <div class="row">
                  {{#each commonMetrics.metrics2}}
                  <div class="col-sm-4 d-sm-flex align-items-center">
                     <div class="media mg-t-20 d-flex align-items-center justify-content-center single-conversion-metrics">
                        <!--  {{#if isPositiveChange}}{{else}}{{/if}} -->
                        <div
                           class="icon card-icon-primary wd-45 wd-md-50 ht-45 ht-md-50  mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                           <i class="{{icon}} tx-primary tx-20"></i>
                        </div>
                        <div class="stats">
                           <span class="tx-uppercase tx-10 tx-gray-500">{{title}}</span>
                           <h4 class="tx-dark tx-20 mg-b-0 tx-rubik tx-normal"><span class="counter">{{value}}</span>
                           </h4>
                        </div>
                     </div>
                  </div>
                  {{/each}}
                  <div class="col-12">
                     <div class="clearfix">
                        <div id="revenueAreaChart"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Behavior and conversions  end -->

<!-- Usage start  -->
<div class="usage-chart-wrapper">
   <div class="row row-xs clearfix">
      <div class="col-sm-12 col-xl-12">
         <div class="card mg-b-20">
            <div class="card-header">
               <h4 class="card-header-title">
                  Browser Used By Users
               </h4>
               <div class="card-header-btn">
                  <a href="" data-bs-toggle="collapse" class="btn card-collapse" data-bs-target="#browserUsedByUsers"
                     aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
               </div>
            </div>
            <div class="card-body pd-0 collapse show browser-by-users" id="browserUsedByUsers">
               <div class="table-responsive">
                  <table id="browserByUsers" class="table table-hover mg-0">
                     <thead class="tx-10 tx-uppercase">
                        <tr>
                           <!-- <th class="wd-5p">&nbsp;</th> -->
                           <th>Browser</th>
                           <th class="text-right">Sessions</th>
                           <th class="text-right">Bounce Rate</th>
                           <th class="text-right">Avg. Duration</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{#each socialDataInfo.browsers}}
                        <tr>
                           <!-- <td><i class="fa fa-chrome tx-15 tx-primary op-6"></i></td> -->
                           <td><a href="">{{name}}</a></td>
                           <td class="text-right">{{sessions}}</td>
                           <td class="text-right">{{bounceRate}}<small>(<i class="{{iconClass}} ml-1"></i></small>)</td>
                           <td class="text-right">{{avgDuration}}</td>
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>
<!-- Usage end -->