<div class="page-sidebar">
    <div class="logo">
       <a class="logo-img" href="index.html">		
       <img class="desktop-logo" src="assets/images/logo.png" alt="">
       <img class="small-logo" src="assets/images/small-logo.png" alt="">
       </a>			
       <i class="fas fa-close" id="sidebar-toggle-button-close"></i>
    </div>
    <!--================================-->
    <!-- Sidebar Menu Start -->
    <!--================================-->
    <div class="page-sidebar-inner">
       <div class="page-sidebar-menu">
          <ul class="accordion-menu">
             <li class="open active">
                <a href="index.html"><i class="fas fa-home"></i>
                <span>Dashboard</span></a>
             </li>
       </div>
    </div>
    <!--/ Sidebar Menu End -->
    <!--================================-->
    <!-- Sidebar Footer Start -->
    <!--================================-->
    <div class="sidebar-footer d-none">Footer here</div>
    <!--/ Sidebar Footer End -->
 </div>