.pageheader{
    margin-bottom: 2rem;
    .pageheader-left{
        h1{
            font-size: 1rem;
            color:#5c5a5a;
        }
    }
}
.metrics-chart{
    .card{
        .card-body{
            &.audienceMetrics-card {
                height: 600px;
            }
            .single-metrics{
                .rounded-circle{
                    width:10px;
                    height: 10px;
                    margin-right: 10px;
                    &.bd-info{
                        border: 1px solid rgba(0,0,0,0.05);
                        border-color: #4285f4;
                        border-width:3px;
                    }
                }
                .single-metrics-info{
                    .top-title{font-size: 10px; text-transform: uppercase; margin-bottom: 0;}
                    .counter{font-size: 24px; margin-bottom: 0;}
                    .percentage{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}