.page-sidebar {
  .offcanvas {
    &.offcanvas-start {
      transform: none;
      @media (max-width: 767px) {
        transform: translateX(-100%);
      }
    }
  
    visibility: visible;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, .05);
    @media only screen and (max-width:767px){
       visibility: hidden;
       &.showing{
        visibility: visible;
       }
       &.show{
        visibility: visible;
        &.offcanvas-start{
          transform: none;
        }
       }
       &.hiding{
        visibility: visible;
       }
    }

    .offcanvas-header {
      border-right: 1px solid rgba(230, 230, 230, 0.7);
      border-bottom: 1px solid rgba(230, 230, 230, 0.7);
      padding: 7px;
      box-sizing: border-box;

      .page-sidebar__logo {
        width: 100%;

        .btn-close {
          line-height: 1rem;
          display: none;

          @media (max-width: 767px) {
            display: block;
          }
        }
      }
    }

    .offcanvas-body {
      padding: 0;

      .page-sidebar__navigation {
        .page-sidebar__accordion {
          width: 100%;
          flex-flow: column wrap;
          align-items: flex-start;

          .page-sidebar_accordion-item {
            &.active {
              border-left: 3px solid #5d78ff;
            }

            transition: all 0.3s;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              color: #5d78ff;
              font-size: 1rem;
            }
          }
        }
      }
    }
  
  }
}
.offcanvas-backdrop{
  &.fade{
    &.show {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1040;
      width: 100vw;
      height: 100vh;
      background-color: #000;
    }
  }
}